


<div class="wrapper ">
    <div class="sidebar" data-color="white" data-background-color="rgb(176, 213, 248)">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
    
            <h1 style="color:rgb(0, 55, 107)">Consulting</h1>
        
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="homepage">
            <i class="material-icons">home</i>
            <p>Accueil</p>
            </a>
        </li>
        
            <li class="nav-item ">
        <a  class="nav-link" [routerLink]="['/client']">
        <i class="material-icons">person</i>
        <p>Ajout des clients</p>
        </a>
    
        </li> 
        <!-- <li><a routerLink="/client" routerLinkActive="active">client</a></li> -->
    

        <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/liste-client']">
            <i class="material-icons">content_paste</i>
            <p>Liste des clients</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/facture']">
            <i class="material-icons">library_books</i>
            <p>facturation</p>
            </a>
        </li>
        
        </ul>
    
    </div>

    </div>
    
    <div class="main-panel">
    
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="float-left">
                    <ul>
                    <li>
                        <a href="">
                        benjamin jaoui & joyce elmaleh & cheina sellam
                        </a>
                    </li>
                    </ul>
                    
                </nav>
            </div>
        </footer>
    </div>
</div>


        
        
       
        